html {
  /* image source: https://unsplash.com/photos/BtbjCFUvBXs */
    background-image: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}
a {
    color: #92801c;
}
a:hover {
    color: #a89219;
    border-bottom: 1px solid #a89219;
}

